extends layout

block content
	.container.content
		#row3.row
			h1 Matches
			#signup-wrapper.fullElement
			- var avail = JSON.parse(loggedIn.availability);
			if matchlist.length > 0
				each val in matchlist
					- var count = 0;
					.container.match
						.row
							.col-md-3
								h3.headingsMatches= val.firstname + " " + val.lastname
								p.
									#[i #[strong= 'Email : ' + val.username]]
								button.button.viewExp Experience
							.experienceModal.modal
								.modal-wrapper
									.modal-header
										a= val.firstname + "'s Experience"
									.module-content-list
										each exp in val.experience
											- ++count
											li
												.module-content-header
													=exp.exp_header
												.module-content-text
													=exp.exp_body
										if count == 0
											li.vacantTxt This user has no experiece.
									.modal-footer
										span.close
											button.button Close
							.col-md-9.unitSection
								h3.headingsMatches Studying Units :
								br
								ul.pull-right.allunits
									each unit, index in val.units
										- function intersect(a,b){
										-  	var t;
										-  	if(b.length > a.length) t=b, b=a, a=t;
										-  	return a.filter(function(e){
										-    	return b.indexOf(e) > -1;
										-  	});
										-	}
										- var inboth = intersect(loggedIn.units, val.units);
										- if( inboth.indexOf(unit) >= 0 && unit !== '' ){
												li.unititem.highlight= unit
										- } else {
												li.unititem= unit
										- }
										br
						.row.sevencol
							- var availability = JSON.parse( val.availability );
							each day , index in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
								- var userStart = new Date(Date.parse('01/01/2001 ' + avail[index].start));
								- var txt_userStart = userStart.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', hour12: true});
								- var userEnd = new Date(Date.parse('01/01/2001 ' +  avail[index].end));
								- var txt_userEnd = userEnd.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', hour12: true});
								- var guestStart = new Date(Date.parse('01/01/2001 ' + availability[index].start));
								- var txt_guestStart = guestStart.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', hour12: true});
								- var guestEnd = new Date(Date.parse('01/01/2001 ' + availability[index].end));
								- var txt_guestEnd = guestEnd.toLocaleTimeString('en-US', {hour: '2-digit', minute: '2-digit', hour12: true});
								- if ( +guestStart == +guestEnd ){
									- console.log(txt_userStart + " == " + txt_userEnd + ", " + txt_guestEnd + " == " + txt_guestStart);
									.col-md-1.eachDay
										h4.daytitle <span>#{day}
										p </span> Unavailable
								- } else {
									- if( +userStart <= +guestEnd && +userEnd >= +guestStart  ){
										.col-md-1.eachDay.highlightBox
											h4.daytitle <span>#{day}
											p </span> #{txt_guestStart} <i class="fa fa-arrow-right" aria-hidden="true"></i> #{txt_guestEnd}
									- } else {
										.col-md-1.eachDay
											h4.daytitle <span>#{day}
											p </span> #{txt_guestStart} <i class="fa fa-arrow-right" aria-hidden="true"></i> #{txt_guestEnd}
									- }
								- }
			else
				h4 Sorry, No Matches Found , Try Again Later
